
body {
    font-family: 'Kanit', sans-serif !important;
}


button, a, span, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Kanit', sans-serif !important;
}


.top-0 {
    top: 0 !important;
}


body.dark-layout .table tbody td a i, body.dark-layout .table tbody th a i {
    color: #fff !important;
}

